@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f6f7;
}

#content {
    width: 460px;
    margin: 0 auto;
}

/* ---------------------------------header-------------------------------------------------- */


#header {
    text-align: center;
    padding: 62px 0 20px;
}

#header img {
    width: 240px;
    height: 44px;
    cursor: pointer;
}
